
.container-fluid{
  width: 100%;
  height: 60rem;
  background: rgb(26,101,173);
  background: -webkit-linear-gradient(bottom, rgba(26,101,173,1) 0%, rgba(0,212,255,1) 100%);
  background: -o-linear-gradient(bottom, rgba(26,101,173,1) 0%, rgba(0,212,255,1) 100%);
  background: linear-gradient(to top, rgba(26,101,173,1) 0%, rgba(0,212,255,1) 100%);
}
.island-img{
  position: absolute;
  top:200px;
  left:20px;
  width: 90%;
}
.nav-item{
  padding: 2%;
  border-radius: 100%;
}
.icon:hover{
  color: white;
  cursor: pointer;
}
.nav-item:hover{
  transition: .5s;
  transform: scale(.8);
  background-color: rgb(26,101,173);
}
.dp{
  width: 60%;
  border: 2px solid gold;
  border-radius: 100%;
}
p{
  position: relative;
  bottom: 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
}
.row{
  text-align: center;
  padding: 3%;
}
.icons1{
  background-color: white;
  border-radius: 20px;
  height:50px;
  padding: 5px;
}

.bottle-img{
  position: relative;
  width: 100%;
  size:2rem;
  right:100px;
  top:300px;
}

/* Letter */
#letter-body{
height: 60rem;
text-align: center;
background: rgb(153,105,61);
background: -webkit-linear-gradient(bottom, rgba(153,105,61,1) 0%, rgba(199,157,28,1) 41%, rgba(226,186,63,1) 100%);
background: -o-linear-gradient(bottom, rgba(153,105,61,1) 0%, rgba(199,157,28,1) 41%, rgba(226,186,63,1) 100%);
background: linear-gradient(to top, rgba(153,105,61,1) 0%, rgba(199,157,28,1) 41%, rgba(226,186,63,1) 100%);
}

.letter-body-title img{
  width: 3rem;
}

.letter-body-title p{
  width: 7rem;
}

.footer{
  text-align: center;
  background: rgb(153,105,61);
}
.footer a{
  text-decoration: none;
  color: white;
}
.letter-body-content{
  padding: 10px;
  line-height:1.5;
  background-color: inherit;
  text-align: justify;
  font-size: 14px;
  overflow-y: scroll;
}


/* Chats */
.container{
  padding: 30px;
}



.chat-right{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 20px;
  padding-bottom: 0;
  width: 100px;
  border-radius: 10px;
  margin-left: 100px;
  position: relative;
  left:40px;
}

.right-chat{
  text-align: left;
  padding: 30px;
  float: right;
}
.right-chat p{
  background-color: inherit;
  color: white;
  padding-bottom: 0;
}
.chat-left{
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  padding: 20px;
  padding-bottom: 0;
  width: 100px;
  border-radius: 10px;
  margin-right: 100px;
  position: relative;
  right:40px;
}
.left-chat p{
  background-color: inherit;
  color: white;
}
.left-chat{
  text-align: left;
  padding: 30px;
  float: left;
}
.chat-nav{
  text-align: center;
  padding: 30px;
}

/* Profile */
.profile-island-img{
  position: absolute;
  top:20px;
}
.profile-img{
  border-radius: 100%;
  border: 5px solid white;
  width: 30%;
  position: relative;
  bottom:50px;
}
.profile-info{
  position: relative;
  text-align: center;
  top:300px;
  border-radius: 10px;
  background-color: rgb(240, 240, 245)
}
.profile-name{
  position: relative;
  bottom: 70px;
}
.reputation{
  width: 100%;
  background-color: white;
  border-radius: 40px;
  position: relative;
  bottom: 80px;
}
.reputation-text{
  color: rgb(77, 166, 255);
  font-size: 18px;
}

.bio{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  bottom: 40px;
}

.bio-text{
  padding: 20px;
  text-align: left;
  padding-bottom: 2px;
}
.bio-text p{
  font-size: 18px;
}
.sailor{
  padding: 20px;
  text-align: left;
}
h4{
  font-size: 18px;
  color: rgb(179, 179, 204);
  font-weight: bold;
  text-align: left;
  padding-bottom:20px;
}
h5{
  font-size: 13px;
  padding-left: 20px;
  display: inline-block;
  width: 90%;
}

.interest, .language{
  border: 1px solid rgb(179, 179, 204);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 40px;
  text-align: center;
}

.interest p{
  position: relative;
  top:0.000001px;
}

.language p{
  position: relative;
  top:0.000001px;
}
@media (max-width:360px){
  .interest, .language{
    height: 60px;
  }
  h5{
    width: 80%;
  }
  .interest p{
    top:0.002px;
  }

  .language p{
    top:0.002px;
  }
}
